soap.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://localhost:8000/soap" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="SoapGenService"
             targetNamespace="http://localhost:8000/soap">
    <types>
        <xsd:schema targetNamespace="http://localhost:8000/soap">
            <xsd:complexType name="SecteurSoap">
                <xsd:all>
                    <xsd:element name="id" type="xsd:int" nillable="true"/>
                    <xsd:element name="libelle" type="xsd:string" nillable="true"/>
                </xsd:all>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <portType name="SoapGenServicePort">
        <operation name="hello">
            <documentation>Dis "Hello" à la personne passée en paramètre</documentation>
            <input message="tns:helloIn"/>
            <output message="tns:helloOut"/>
        </operation>
        <operation name="sumHello">
            <documentation>Réalise la somme de deux entiers</documentation>
            <input message="tns:sumHelloIn"/>
            <output message="tns:sumHelloOut"/>
        </operation>
        <operation name="sumFloats">
            <documentation>sumFloats</documentation>
            <input message="tns:sumFloatsIn"/>
            <output message="tns:sumFloatsOut"/>
        </operation>
        <operation name="getSecteurLibelle">
            <documentation>Récupère le libellé d'un secteur dont on connaît l'id</documentation>
            <input message="tns:getSecteurLibelleIn"/>
            <output message="tns:getSecteurLibelleOut"/>
        </operation>
    </portType>
    <binding name="SoapGenServiceBinding" type="tns:SoapGenServicePort">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="hello">
            <soap:operation soapAction="http://localhost:8000/soap#hello"/>
            <input>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://localhost:8000/soap"/>
            </input>
            <output>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://localhost:8000/soap"/>
            </output>
        </operation>
        <operation name="sumHello">
            <soap:operation soapAction="http://localhost:8000/soap#sumHello"/>
            <input>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://localhost:8000/soap"/>
            </input>
            <output>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://localhost:8000/soap"/>
            </output>
        </operation>
        <operation name="sumFloats">
            <soap:operation soapAction="http://localhost:8000/soap#sumFloats"/>
            <input>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://localhost:8000/soap"/>
            </input>
            <output>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://localhost:8000/soap"/>
            </output>
        </operation>
        <operation name="getSecteurLibelle">
            <soap:operation soapAction="http://localhost:8000/soap#getSecteurLibelle"/>
            <input>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://localhost:8000/soap"/>
            </input>
            <output>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://localhost:8000/soap"/>
            </output>
        </operation>
    </binding>
    <service name="SoapGenServiceService">
        <port name="SoapGenServicePort" binding="tns:SoapGenServiceBinding">
            <soap:address location="http://localhost:8000/soap"/>
        </port>
    </service>
    <message name="helloIn">
        <part name="name" type="xsd:string"/>
    </message>
    <message name="helloOut">
        <part name="return" type="xsd:string"/>
    </message>
    <message name="sumHelloIn">
        <part name="a" type="xsd:int"/>
        <part name="b" type="xsd:int"/>
    </message>
    <message name="sumHelloOut">
        <part name="return" type="xsd:int"/>
    </message>
    <message name="sumFloatsIn">
        <part name="a" type="xsd:float"/>
        <part name="b" type="xsd:float"/>
        <part name="c" type="xsd:float"/>
    </message>
    <message name="sumFloatsOut">
        <part name="return" type="xsd:float"/>
    </message>
    <message name="getSecteurLibelleIn">
        <part name="sect" type="tns:SecteurSoap"/>
    </message>
    <message name="getSecteurLibelleOut">
        <part name="return" type="tns:SecteurSoap"/>
    </message>
</definitions>
